SUPABASE_URL=https://lpiixtfxldhoyyppavyn.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxwaWl4dGZ4bGRob3l5cHBhdnluIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwMTM4ODYsImV4cCI6MjA5MzU4OTg4Nn0.FgppoUpi5EQO4SSCwZWpd6YpHND1RNFwW3zEjStgI2cYOUR_SUPABASE_ANON_KEY
